body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
}

.head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.links {
    display: flex;
    gap: 18px;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 42px;
}

.title {
    max-width: 450px;
    flex-shrink: 0;
}